@import 'variables';


html, body
{
	height: 100%;
}

.searchForm{
	margin-top: 5%;
	margin-left: 25%;
}


.videoShow{
	width:400px;
	height:300px;
    margin-left:5%;
}

#videoInfo{
    font-weight:bold;
    margin-left:10%;

}

.table{
	margin-top: 5%;
}

.searchText{
    width:60%;
    height: 6%;
    border-radius: 25px;
}

.searchText:focus{
    border-radius: 25px;
}

.btn-search{
    border-radius: 25px;
     height: 6%;
}

input[type="radio"] {
    margin-left:10px;
}

.rateShowing{
	width:25%;
}


.pagination{
    margin-left:25%;
}