.row{
	margin-top: 3%;
	margin-left: 5%;
}

#addButton{
	width:20%;
	height:50px;
	font-size: large;
	margin-left: 6%;
}

#filePath{
	width:60%;
	height:50px;
	resize: none;
	margin-left: 2%;
	background-color: white;
}

#fileUploadButton{
	width:5%;
	height:50px;
	
}