.btn-upload {
  width: 100%;
}

.uploadForm {
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
}

#filePath {
  height: 5%;
}

.progress {
  position: relative;
  width: 100%;
  border: 1px solid #7F98B2;
  padding: 1px;
  border-radius: 3px;
  height: 6%;
}

.bar {
  background-color: #3490dc;
  width: 0%;
  height: 100%;
  border-radius: 3px;
}

.percent {
  position: absolute;
  display: inline-block;
  top: 6px;
  left: 48%;
  color: #000;
}

